# Session 4 - Advanced Pandas, Groupby & Merging

**Q1** In your own words, explain the split-apply-combine pattern. What happens in each phase when you run df.groupby('category')['sales'].mean()?

*Q1* - When using groupby, first pandas will **split** the data into groups. It **applies** the mean individually to the groups then it **combines** the groups data back into one data frame.

**Q2**  You run this code:

```python
df.groupby('store')['revenue'].count()
df.groupby('store')['revenue'].size()
```

Both groupby operations use the same column. What's the key difference in what these two methods count? When would each be useful?

*Q2* - *I had to look this up* I did assume that size was the total rows but I was not sure how count would be different. .cout() counts the non-null values in the specified coulmns.

**Q3** Predict the output structure. Given:
```python
df = pd.DataFrame({
    'region': ['East', 'East', 'West', 'West'],
    'sales': [100, 200, 150, 250]
})
result = df.groupby('region')['sales'].sum()
```
Will result be a Series or DataFrame? What will the index be? How many rows?

*Q3* - The result will be a Series with the region as the index and 2 rows. The sum of the sales by East and West as the

**ANSWERS**

*Q1* - When using groupby, first pandas will **split** the data into groups. It **applies** the mean individually to the groups then it **combines** the groups data back into one data frame. 

*Q2* - *I had to look this up* I did assume that size was the total rows but I was not sure how count would be different. .cout() counts the non-null values in the specified coulmns.

*Q3* - The result will be a Series with the region as the index and 2 rows. The sum of the sales by East and West as the

**Q4** You need to add a column showing each employee's salary as a percentage of their department's total salary. Which method do you use and why?

* .agg()
* .transform()
* .apply()

*Q4* - I believe this is .transform(), it doesn't seem to need complex logic like .apply() and .agg() would reduce the data to group summaries. Although I'm not sure how to apply this calculation with the individual value and the group value.

**Q5** Scenario: You want to create a summary table showing, for each product category, the mean price, max price, and total quantity sold. Which method lets you compute multiple different aggregations in one operation? What does the resulting structure look like (Series or DataFrame)

*Q5* - This would be a groupby with named aggregations. Because there are multiple columnar aggs than the result must be a DataFrame.

**Q6** You run:

```python
df.groupby('team')['score'].transform('mean')
```
The original DataFrame has 12 rows. How many values will transform() return? What will those values represent?

*Q6* - Transform keeps the dimensions the same, the values will be the mean for the row's team represented

**ANSWERS**

*Q4* - I believe this is .transform(), it doesn't seem to need complex logic like .apply() and .agg() would reduce the data to group summaries. Although I'm not sure how to apply this calculation with the individual value and the group value.  

*Q5* - This would be a groupby with named aggregations. Because there are multiple columnar aggs than the result must be a DataFrame. 

*Q6* - Transform keeps the dimensions the same, the values will be the mean for the row's team represented

**Q7** After running 
```python
result = df.groupby('region')['sales'].sum()
```
you want to use 'region' as a regular column (not the index). What method do you call and why is this often necessary?

*Q7* - You want to use .reset_index(), you want to do this because the groupby column becomes the index. But I'm not sure when to use drop=True or why.

**Q8** You want to keep only groups where the average sales exceed $500. Which groupby method lets you filter entire groups based on a condition?

*Q8* - I had to look this one up too, but a groupby with filtering method using a lambda function will let you achieve this result.

**Q9** Predict the output:
```Python
df = pd.DataFrame({
    'dept': ['Sales', 'Sales', 'IT', 'IT'],
    'team': ['A', 'B', 'A', 'A'],
    'revenue': [100, 150, 200, 250]
})
result = df.groupby(['dept', 'team'])['revenue'].sum()
```
What type of index will result have? How many rows?

*Q9* - This will have a heirarchical index with 4 rows. Sales - A , B then IT - A, B. I think. It looks like IT doesn't have a B team but the heirarchical index may force it to be there. I'm not sure just on sight reading or by memory.

**ANSWERS**

*Q7* - You want to use .reset_index(), you want to do this because the groupby column becomes the index. But I'm not sure when to use drop=True or why. 

*Q8* - I had to look this one up too, but a groupby with filtering method using a lambda function will let you achieve this result. 

*Q9* - This will have a heirarchical index with 4 rows. Sales - A , B then IT - A, B. I think. It looks like IT doesn't have a B team but the heirarchical index may force it to be there. I'm not sure just on sight reading or by memory.

**Q10** Explain the difference between a primary key and a foreign key. If a customers table has a customer_id column, and an orders table also has a customer_id column, which is which?

*Q10* - A key is a column used to link two tables in a merge, the primary key is in the table where the values are unique and the foreign key is the same values in the 2nd table where there could be many duplicates. Customers table would have the primary key.

**Q11** You have:

* employees table: 50 rows (each employee has one dept_id)
* departments table: 5 rows (each department ID is unique)

What relationship type is this (1:1, 1:M, or M:N)? After an inner merge on dept_id, how many rows would you expect?

*Q11* - This is a 1:M Department -> employees. After an inner merge I'd expect 50 rows where the employees have their department information in the table.

**Q13** You merge two DataFrames:

```python
pd.merge(df1, df2, on='product_id', how='left')
```

df1 has 100 rows. df2 has 80 rows, but only 60 product_id values overlap with df1. How many rows will the result have? Will there be any NaN values?

*Q13* - You will still have 100 rows with 40 NaNs

**ANSWERS**

*Q10* - A key is a column used to link two tables in a merge, the primary key is in the table where the values are unique and the foreign key is the same values in the 2nd table where there could be many duplicates. Customers table would have the primary key. 

*Q11* - This is a 1:M Department -> employees. After an inner merge I'd expect 50 rows where the employees have their department information in the table. 

*Q13* - You will still have 100 rows with 40 NaNs

**Q13** What's the difference between these merge types? For each, describe when you'd use it:

* how='inner'
* how='left'
* how='outer'

*Q13* 
* inner - only where both sides match
* left - add the right table to matching left table, leave remainder of left table as NaN
* outer - join neither matching filling NaN for missing values from each

**Q14** You expect a merge to return 200 rows, but you get 800 rows instead. What relationship issue likely caused this? (Hint: Think about what happens when keys aren't unique on both sides.)

*Q14* -  this could be caused by a many-to-many relationship where there's multiple matches per row on both sides

**Q15** When would you use .join() instead of pd.merge()? When would you use pd.concat() instead of either?

*Q15* - I had to look this up. .Join() essentially merges on the index with left join as the default, although the how could be specified. 
pd.concat() is essentially appending tables to each other, stacking one on top of the other. This is useful for adding new data to existing data when the data structure is exactly the same.

**ANSWERS**

*Q13* 
* inner - only where both sides match
* left - add the right table to matching left table, leave remainder of left table as NaN
* outer - join neither matching filling NaN for missing values from each
  
*Q14* -  this could be caused by a many-to-many relationship where there's multiple matches per row on both sides

*Q15* - I had to look this up. .Join() essentially merges on the index with left join as the default, although the how could be specified. 
pd.concat() is essentially appending tables to each other, stacking one on top of the other. This is useful for adding new data to existing data when the data structure is exactly the same.